In [1]:
import pandas as pd
import numpy as np

In [3]:
originalData=pd.DataFrame(np.random.rand(20))#original dataset
originalData

           0
0   0.576327
1   0.907858
2   0.655131
3   0.060641
4   0.192143
5   0.662450
6   0.847195
7   0.322211
8   0.325853
9   0.964220
10  0.269394
11  0.371800
12  0.689606
13  0.815311
14  0.321187
15  0.038515
16  0.555783
17  0.523389
18  0.582909
19  0.203135

In [4]:
data1=pd.DataFrame(originalData)#creating dataset for mean method

In [11]:
def meanBinning(binSize):
    
    for i in range(len(data1.index)):
        if i+binSize < (len(data1.index)):
            data1[i:i+binSize-1,1]=data1[i:i+binSize-1,1].mean()
        else:
            data1[i:i+(len(data1.index)),1]=data1[i:(len(data1.index)),1].mean()    
        i=i+binSize

In [1]:
meanBinning(5)

NameError: name 'meanBinning' is not defined