# Correlation

In [1]:
import pandas as pd
import numpy as np

In [2]:
data1=pd.read_csv("~/Desktop/marketValuePlayer/epldata_final.csv")

In [3]:
data=pd.DataFrame(data1)

## dataset from kaggle of English Premier League Player Dataset

In [4]:
data

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.00,4329,12.0,17.10%,264,3.0,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.00,4395,9.5,5.60%,167,2.0,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.00,1529,5.5,5.90%,134,2.0,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.00,2393,7.5,1.50%,122,1.0,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.00,912,6.0,0.70%,121,2.0,France,0,4,1,1,0
5,Hector Bellerin,Arsenal,22,RB,3,30.00,1675,6.0,13.70%,119,2.0,Spain,0,2,1,1,0
6,Olivier Giroud,Arsenal,30,CF,1,22.00,2230,8.5,2.50%,116,2.0,France,0,4,1,1,0
7,Nacho Monreal,Arsenal,31,LB,3,13.00,555,5.5,4.70%,115,2.0,Spain,0,4,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.00,1877,5.5,4.00%,90,2.0,Germany,0,3,1,1,1
9,Alex Iwobi,Arsenal,21,LW,1,10.00,1812,5.5,1.00%,89,4.0,Nigeria,0,1,1,1,0
10,Granit Xhaka,Arsenal,24,DM,2,35.00,1815,5.5,2.00%,85,2.0,Switzerland,0,2,1,1,0
11,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.00,1519,6.0,1.80%,83,1.0,England,0,2,1,1,0
12,Jack Wilshere,Arsenal,25,CM,2,18.00,1759,5.5,0.00%,61,1.0,England,0,3,1,1,0
13,Aaron Ramsey,Arsenal,26,CM,2,35.00,1040,7.0,5.10%,56,1.0,Wales,0,3,1,1,0
14,Francis Coquelin,Arsenal,26,DM,2,15.00,549,4.5,1.70%,52,2.0,France,0,3,1,1,0
15,Gabriel Paulista,Arsenal,26,CB,3,13.00,552,5.0,0.10%,45,3.0,Brazil,0,3,1,1,0
16,Kieran Gibbs,Arsenal,27,LB,3,10.00,489,5.0,0.50%,45,1.0,England,0,3,1,1,0
17,Santi Cazorla,Arsenal,32,CM,2,12.00,943,7.0,0.10%,38,2.0,Spain,0,5,1,1,0
18,Danny Welbeck,Arsenal,26,CF,1,15.00,1521,7.5,0.50%,37,1.0,England,0,3,1,1,0
19,Rob Holding,Arsenal,21,CB,3,7.00,666,5.0,1.70%,32,1.0,England,0,1,1,1,1
20,Mohamed Elneny,Arsenal,25,DM,2,10.00,683,4.5,0.80%,26,4.0,Egypt,0,3,1,1,0
21,Lucas Perez,Arsenal,28,CF,1,15.00,2055,7.5,0.10%,20,2.0,Spain,0,4,1,1,1
22,Emiliano Martinez,Arsenal,24,GK,4,1.00,372,4.0,4.20%,8,3.0,Argentina,0,2,1,1,0
23,David Ospina,Arsenal,28,GK,4,7.00,544,5.0,0.20%,2,3.0,Colombia,0,4,1,1,0
24,Carl Jenkinson,Arsenal,25,RB,3,5.00,561,4.5,0.40%,2,1.0,England,0,3,1,1,0
25,Per Mertesacker,Arsenal,32,CB,3,6.00,702,5.0,1.00%,1,2.0,Germany,0,5,1,1,0
26,Sead Kolasinac,Arsenal,24,LB,3,15.00,618,6.0,6.90%,0,2.0,Bosnia,1,2,1,1,0
27,Alexandre Lacazette,Arsenal,26,CF,1,40.00,1183,10.5,26.50%,0,2.0,France,1,3,1,1,0
28,Joshua King,Bournemouth,25,SS,1,8.00,997,7.5,10.40%,178,2.0,Norway,0,3,2,0,0
29,Jermain Defoe,Bournemouth,34,CF,1,5.00,3213,8.0,15.00%,166,1.0,England,0,6,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,Jay Rodriguez,West+Brom,27,CF,1,10.00,472,6.0,2.90%,73,1.0,England,0,3,19,0,0
432,Claudio Yacob,West+Brom,30,DM,2,4.00,165,4.5,0.40%,54,3.0,Argentina,0,4,19,0,0
433,James McClean,West+Brom,28,LW,1,3.00,454,5.0,0.20%,52,2.0,Ireland,0,4,19,0,0
434,Hal Robson-Kanu,West+Brom,28,LW,1,2.50,766,5.0,0.70%,52,2.0,Wales,0,4,19,0,1
435,Jonathan Leko,West+Brom,18,RW,1,1.50,169,4.5,0.20%,12,1.0,England,0,1,19,0,0
436,Sam Field,West+Brom,19,CM,2,0.25,15,4.5,0.10%,9,1.0,England,0,1,19,0,0
437,Boaz Myhill,West+Brom,34,GK,4,1.50,100,4.0,5.30%,0,2.0,Wales,0,6,19,0,0
438,Ahmed Hegazy,West+Brom,26,CB,3,1.00,82,4.5,1.30%,0,4.0,Egypt,1,3,19,0,0
439,Robert Snodgrass,West+Ham,29,RW,1,8.00,1210,6.0,6.50%,133,2.0,Scotland,0,4,20,0,0
440,Manuel Lanzini,West+Ham,24,AM,1,15.00,493,7.0,7.20%,133,3.0,Argentina,0,2,20,0,0
441,Michail Antonio,West+Ham,27,RW,1,18.00,1142,7.5,0.50%,132,1.0,England,0,3,20,0,0
442,Winston Reid,West+Ham,29,CB,3,10.00,338,5.0,0.40%,102,4.0,New Zealand,0,4,20,0,0
443,Jose Fonte,West+Ham,33,CB,3,7.00,867,5.0,2.10%,98,2.0,Portugal,0,5,20,0,1
444,Andre Ayew,West+Ham,27,LW,1,18.00,845,7.0,3.40%,89,4.0,Ghana,0,3,20,0,1
445,Cheikhou Kouyate,West+Ham,27,DM,2,12.00,284,5.0,0.10%,79,4.0,Senegal,0,3,20,0,0
446,Mark Noble,West+Ham,30,CM,2,7.00,425,5.5,0.10%,71,1.0,England,0,4,20,0,0
447,Darren Randolph,West+Ham,30,GK,4,2.50,459,4.5,0.40%,69,2.0,Ireland,0,4,20,0,0
448,James Collins,West+Ham,33,CB,3,2.00,187,4.5,0.90%,69,2.0,Wales,0,5,20,0,0
449,Andy Carroll,West+Ham,28,CF,1,10.00,1212,6.0,0.40%,69,1.0,England,0,4,20,0,0
450,Adrian,West+Ham,30,GK,4,8.00,266,4.5,0.80%,64,2.0,Spain,0,4,20,0,0
451,Aaron Cresswell,West+Ham,27,LB,3,12.00,380,5.0,1.30%,60,1.0,England,0,3,20,0,0
452,Pedro Obiang,West+Ham,25,CM,2,9.00,286,4.5,0.30%,55,2.0,Spain,0,3,20,0,0
453,Sofiane Feghouli,West+Ham,27,RW,1,12.00,394,5.5,0.20%,55,4.0,Algeria,0,3,20,0,1
454,Angelo Ogbonna,West+Ham,29,CB,3,9.00,247,4.5,1.10%,45,2.0,Italy,0,4,20,0,0
455,Pablo Zabaleta,West+Ham,32,RB,3,7.00,698,5.0,2.70%,45,3.0,Argentina,0,5,20,0,0
456,Edimilson Fernandes,West+Ham,21,CM,2,5.00,288,4.5,0.40%,38,2.0,Switzerland,0,1,20,0,1
457,Arthur Masuaku,West+Ham,23,LB,3,7.00,199,4.5,0.20%,34,4.0,Congo DR,0,2,20,0,1
458,Sam Byram,West+Ham,23,RB,3,4.50,198,4.5,0.30%,29,1.0,England,0,2,20,0,0
459,Ashley Fletcher,West+Ham,21,CF,1,1.00,412,4.5,5.90%,16,1.0,England,0,1,20,0,1
460,Diafra Sakho,West+Ham,27,CF,1,10.00,214,5.5,0.10%,12,4.0,Senegal,0,3,20,0,0

In [5]:
col1=data.loc[:,"fpl_points"]

In [6]:
col2=data.loc[:,"market_value"]

In [7]:
col1Average=col1.mean()
col2Average=col2.mean()
col1StdDev=col1.std()
col2StdDev=col2.std()

In [8]:
col1Average

57.31453362255965

In [9]:
correlationCoefficient=(((col1-col1Average)*(col2-col2Average)).sum())/(len(col1.index-1)*col1StdDev*col2StdDev)

In [10]:
correlationCoefficient

0.6138201404702729

## conclusion
        0<correlationCoefficient<1
        positively correlated

##  method 2:correlation chi-squared

In [11]:
column_names=["red","yellow","Green","Blue"]
row_names=["Introvert","Extrovert"]

In [12]:
matrix= np.reshape((20 ,6 ,30 ,44 ,180 ,34 ,50 ,36 ), ( 2,4))

In [13]:
matrix

array([[ 20,   6,  30,  44],
       [180,  34,  50,  36]])

In [14]:
data2=pd.DataFrame(matrix,columns=column_names,index=row_names)

In [15]:
data2

           red  yellow  Green  Blue
Introvert   20       6     30    44
Extrovert  180      34     50    36

In [16]:
data2['Total']=data2.sum(axis=1)

In [17]:
data2

           red  yellow  Green  Blue  Total
Introvert   20       6     30    44    100
Extrovert  180      34     50    36    300

In [18]:
data2.loc['Total']=data2.sum()

In [19]:
data2

           red  yellow  Green  Blue  Total
Introvert   20       6     30    44    100
Extrovert  180      34     50    36    300
Total      200      40     80    80    400

In [20]:
n=data2.loc["Total","Total"]
n

400

In [21]:
dataExpected=data2.copy()
dataExpected.iloc[1,1]=0
data2

           red  yellow  Green  Blue  Total
Introvert   20       6     30    44    100
Extrovert  180      34     50    36    300
Total      200      40     80    80    400

In [22]:
type(data2)

pandas.core.frame.DataFrame

In [23]:
dataExpected

           red  yellow  Green  Blue  Total
Introvert   20       6     30    44    100
Extrovert  180       0     50    36    300
Total      200      40     80    80    400

In [24]:
for i in range(len(data2.index)):
    for j in range(len(data2.columns)):
        dataExpected.iloc[i,j]=data2.iloc[-1,j]*data2.iloc[i,-1]/n

In [25]:
dataExpected

             red  yellow  Green  Blue  Total
Introvert   50.0    10.0   20.0  20.0  100.0
Extrovert  150.0    30.0   60.0  60.0  300.0
Total      200.0    40.0   80.0  80.0  400.0

In [26]:
data2

           red  yellow  Green  Blue  Total
Introvert   20       6     30    44    100
Extrovert  180      34     50    36    300
Total      200      40     80    80    400

In [27]:
chiSquared=(data2-dataExpected)/dataExpected

In [28]:
chiSquared

           red    yellow     Green  Blue  Total
Introvert -0.6 -0.400000  0.500000   1.2    0.0
Extrovert  0.2  0.133333 -0.166667  -0.4    0.0
Total      0.0  0.000000  0.000000   0.0    0.0

In [29]:
chiSquared.iloc[:2,:4].values.sum()

0.46666666666666656

## conclusion
        chiSquared>0
            positively correlated